# first list the packages you wish to download from PyPI
teachbooks == 0.2.0 # depends on jupyter-book
jupyterbook-patches == 1.4.4
sphinx-image-inverter == 1.1.2
download_link_replacer == 1.0.4
sphinx-exercise == 1.0.1
sphinx-tudelft-theme == 1.1.5
teachbooks-sphinx-tippy == 1.0.8
sphinx-iframes == 1.0.5
sphinx-proof == 0.2.1
teachbooks-sphinx-grasple == 1.0.5
sphinx-prime-applets == 1.0.2
TexSoup == 0.3.1
roman == 5.0
sphinx-named-colors == 1.0.1

# Now list the packages you want to download directly from GitHub
git+https://github.com/TeachBooks/Sphinx-Thebe
git+https://github.com/TeachBooks/Sphinx-ref-graph.git # bump
git+https://github.com/TeachBooks/Sphinx-Indexed-Definitions.git