svg {
    /* position: absolute;
    top: 0;
    left: 0; */
  }
  .link { stroke: #999; stroke-opacity: 0.6; stroke-width: 2px; }
  .node { cursor: pointer; stroke: #fff; stroke-width: 1.5px; }
  .label { font-size: 12px; pointer-events: none; }
  /* Hull styling is set dynamically */
  .hull {
    stroke: #999;
    stroke-width: 1px;
    opacity: 0.3;
  }