.enumerated-list {
  list-style-type: none;
  counter-reset: enumerated-item;
}

.enumerated-list li::before {
  content: counter(enumerated-item) '.';
  counter-increment: enumerated-item;
  margin-right: 10px;
}
